/** test * {
    border: 2px solid black;
} **/

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
    padding: 20px;
}

header, footer {
    width: 600px;
}

.dark {
    background-color: rgb(217, 217, 217);
    padding: 10px;
}

.content {
    height: 200px;
}

.choice {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

.message {
    margin-top: 10px;
}

.display-container {
    display: flex;
}